.Games{
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 100px 0 60px 0;
  gap: 10px;
  flex-wrap: wrap;
}

.Games img {
  width: 230px;
  height: auto;
  cursor: pointer;
}

@media screen and (max-width: 475px) {
.Games{
  height: 50vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100%;
}
}
